

<main class="main-wrap">
   
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Banner</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body">

                        <form method="post" action="/admin/addBanner" enctype="multipart/form-data"
                            onsubmit="return validateForm()">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Banner Title</label>
                                <input type="text" placeholder="Type here" name="title" class="form-control border"
                                    id="product_name">
                                <div id="productName-error" class="error-message"></div>
                            </div>

                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" name="description" class="form-control border"
                                    rows="4"></textarea>
                                <div id="description" class="error-message"></div>
                            </div>

                            <div class="mb-4">
                                <label for="startingDate" class="form-label">Start Date</label>
                                <input type="date" name="startDate" class="form-control" required id="startingDate" />
                                <div id="error-start-date" class="error-message"></div>
                            </div>

                            <div class="mb-4">
                                <label for="expiringDate" class="form-label">End Date</label>
                                <input type="date" name="endDate" class="form-control" id="expiringDate" required />
                                <div id="error-end-date" class="error-message"></div>
                            </div>

                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Link</label>
                                    <input placeholder="" name="link" type="text" class="form-control border">
                                    <div id="link-error" class="error-message"></div>

                                </div>
                            </div>



                           
                                <div class="card-header">
                                    <h4>Choose Banner Image</h4>
                                </div>
                                <div class="border row">
                                    <div id="addedImagesContainer" class="thumbnails-container"></div>
                                </div>
                                <div class="card-body">
                                    
                                      
                                        <img src="assets/imgs/theme/upload.svg" alt="" id="imgView1">
                                        <input class="form-control" type="file" name="images" id="input1"
                                            accept="image/png, image/jpeg, image/jpg"
                                            onchange="viewImage1(event),viewImage(event, 1)">
                                    </div>
                                    <div class="image-cropper" style="display:none; width: 300px; height: 200px;">
                                        <img src="" id="croppedImg1" alt="">
                                        <button type="button" id="saveButton1" class="btn-sm btn-primary">Save</button>
                                    </div>
                              
                            </div>

                            <div>
                                <button class="btn btn-md rounded font-sm hover-up ml-200" type="button"
                                    onclick="validateAndSubmit()">Publish</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

