    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/home" class="brand-wrap">
                <img src="/images/logo/Eagle_Logo.png" class="logo" alt="CocoLoco Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                   
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                   
                </li>
               
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-category"></i>
                        <span class="text">Category</span>
                    </a>
                    
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/manage_users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                    
                </li>
                 <li class="menu-item ">
                    <a class=" menu-link" href="coupons"> <i class="icon material-icons md-class"></i>
                    <span class="text">Coupons</span> </a>
                </li>

                {{!-- <li class="menu-item ">
                    <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-photo_size_select_actual"></i>
                        <span class="text">Banners</span> </a>
                </li> --}}

               
               
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                    <button class="nav-link
                     rounded-pill darkmode m-3 " href="#">
                        <i class="material-icons md-nights_stay"></i>Dark mode
                    </button>
                </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/logout"> <i class="icon material-icons md-exit_to_app"></i>
                        <span class="text"> Logout </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
     